.text-overlay {
    position: absolute;
    /* font-size: 30pt; */
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #999
}

.div-mouseover:hover {
    opacity: 0.5;
}

.div-mouseover:hover .text-overlay {
    opacity: 1;
    color: red;
}